#head{
	position: fixed;
	font-family: Segoe Print;
	font-size: 1.5em;
    color: white;
    background-color: rgba(159,159,159,0.7);
    margin-left: 35%;
    margin-top: 0%;
    z-index: 10000;
}

#legend{
	position: fixed;
    margin-left: 1%;
    margin-top: 30%;
    z-index: 10000;
}